@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&family=Work+Sans&display=swap');

html,body{
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.image-inverted{
  filter: invert(100%);
}

.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused, 
.MuiOutlinedInput-notchedOutline{
  border-color: white !important;
}

.rotate{
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}


/* Global styles or in your CSS file */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
